:root {
	--actve-cell-bg: white;
	--even-cell-bg: black;
	--odd-cell-bg: black;
}

body {
	background: rgb(245, 245, 245);
	zoom: 1;
}
.settings {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 90vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-moz-column-gap: 1vw;
	     column-gap: 1vw;
	transform: translate(-50%,0);
	background: rgb(30, 30, 30);
}
.settings * {
/*	max-width: 100%;*/
	font-size: 1rem;
}
.settings label {
	display: flex;
	align-items: center;
	justify-content: center;
}
.settings-input {
	width: 50px;
	aspect-ratio: 16/9;
	background: rgb(30, 30, 30);
	color: rgb(233, 233, 233);
	border: none;
	padding: 2px 5px;
	font-size: 1.5rem;
	border-radius: 5px;
	text-align: center;
}
.settings-btn {
	border-radius: 5px;
/*	width: 40px;*/
/*	aspect-ratio: 16/9;*/
	background: rgb(30, 30, 30);
	color: rgb(233, 233, 233);
	border: rgb(233, 233, 233) 1px solid;
	padding: 2px 5px;
	font-size: 1.5rem;
}
.settings-btn:hover, .settings-input:hover {
	background: rgb(10, 10, 10);
	color: white;
}
.input-title {
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(245, 245, 245);
}
@media (max-width: 900px) {
	.settings * {
		font-size: 0.8rem;
		padding: 5px;
	}
	.settings {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.settings p {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.settings label:nth-child(5) {
		grid-column: 2/4;
	}
	.settings-input {
		width: 30px;
		aspect-ratio: 16/9;
	}
}

div.cell-container {
	display: grid;
}
.cell {
	/* border-bottom: rgb(30, 30, 30) 1px solid; */
	border: 1px solid white;
	/* box-shadow: 0 0 1px black; */
	font-size: 3rem;
	text-align: center;
	cursor: default;
	font-family: sans-serif;
	font-weight: bold;
	aspect-ratio: 1/1;
}
.cell:nth-child(odd) {
	background-color: var(--odd-cell-bg);
}
.cell:nth-child(even) {
	background-color: var(--even-cell-bg);
}
.cell.alive {
	background: var(--actve-cell-bg);
}
.dead {
	background: rgb(245, 245, 245);
}

/*@media (max-width: 520px) {
	.settings {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
}*/